---
import PostLayout from "../../layouts/PostLayout.astro";
import Gallery from "../../components/Gallery.astro";
const title = '¡Feliz día de la primavera!';
const description = 'Relato breve por Emilio Sebastián Franco';
---
<PostLayout {title} {description} date="2025-09-18" tags={["relato","breve"]} cover="imagenes/margaritas.png" coverWidth={240} coverHeight={240} coverInline={true}>
  <p>Llegó otro 21 de septiembre, pero este es diferente. En este día me regalé mis propias flores amarillas, consciente de que, al menos por un tiempo, así será.</p>
  <p>Elegí dos margaritas de piria: flores comunes, humildes, y a la vez hermosas en su sencillez perfecta. Como pequeños soles que brotan de la tierra, llevan en sus pétalos la promesa de que la belleza no necesita ornamentos para existir.</p>
  <p>Hoy es un hermoso día de primavera porque te tengo presente, quizás no como hubiera soñado o siquiera imaginado, pero sí como lo merezco. Y esa certeza, dulce y serena, me colma de felicidad.</p>
  <p>Las flores que me di hablan de amor propio, de ciclos que renacen, de la sabiduría de encontrar en lo simple la grandeza que buscamos.</p>
  <p>¡Feliz día de la primavera para ti, para mí, para nosotros y para todo lo que florece cuando aprendemos a querernos!</p>
  
</PostLayout>
