---
import PostLayout from "../../layouts/PostLayout.astro";
import Gallery from "../../components/Gallery.astro";
const title = 'El beso que nos debemos';
const description = 'Relato breve por Emilio Sebastián Franco';
---
<PostLayout {title} {description} date="2025-10-04" tags={["poesía"]} cover="imagenes/el-beso-que-nos-debemos.png" coverWidth={240} coverHeight={240} coverInline={true}>
  <p>Si me pides un beso, no me voy a negar.
Si te atreves, te lo daré muy lento,
tan lento que rogarás por más ritmo,
y entonces te entregaré el más cálido y húmedo ósculo.
Pero si me lo robas, no sé si pueda resistirme.</p>
  <p>Dime, ¿te provoca mi boca
como a mí me provocan tus labios?
No puedo negar que los tuyos me generan ganas,
ganas de rozarlos con los míos,
de beber de ellos la miel, ese néctar oculto
del que quiero embriagarme.</p>
  <p>Deja de mirarme así, angelito,
porque entonces entenderé que me deseas.
Y si me vuelves a enviar besos,
sabré que hay algo más que amistad,
un sentimiento que solo se tiene
por alguien a quien se ama.
</p>
  <p>De ser así, manifiéstalo, permítete sentir.
Debe fluir como el agua cuando la dejas correr,
natural, sin resistencia.
Ven, acércate, necesito que me mires
a los ojos, sin decir nada,
porque en silencio es cuando uno sabe
si hay verdaderas ganas de besar.
</p>
  <p>Entonces será el momento
de darnos este beso que ya nos debemos.</p>
  
</PostLayout>
