---
import BaseLayout from "../../layouts/BaseLayout.astro";
const base = import.meta.env.BASE_URL || "/";
---
<BaseLayout title="Poesía | ES FRANCO LITERATURA" description="Poesía original de Emilio Sebastián Franco">
  <section>
    <h1>Poesía</h1>
    <ul>
  
    </ul>
  </section>
</BaseLayout>
